<div style='float:left;'>
  <%= image_tag('logo.png') %>
</div>
 <div style='padding-right:60px; padding-top:46px; float:right;'>
  <table>
    <td><%= link_to image_tag('home.png', :border =>0, :title => 'Домой'), devices_path %> </td>
    <td><%= link_to image_tag('find.png', :border =>0, :title => 'Поиск'), devices_path %> </td>
    <td><%= link_to image_tag('settings.png',:border =>0, :title => 'Настройки'), devices_path %> </td>
  </table>
 </div>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <br/>
 <hr>
