<h1>Список контролируемых устройств </h1>
<script src="prototype.js"></script>
<script>
    new Ajax.PeriodicalUpdater('devices', '/devices', {method: 'GET'});  
  </script>
  <div id='devices'>  
<table>
  <tr>
     <td><b> Имя устройства  </b> </td>
     <td><b> Дата получения пакета  </b> </td>
  </tr>
<% @devices.each do |device| %>
  <tr>
    <td><%=h device.device_code %></td>
    <td><%=h device.created_at %></td>
    <td><%= link_to 'Подробнее', device %></td>
    <td><%= link_to 'Удалить из базы', device, :confirm => 'Вы уверенны?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />
